/* DARK MODE MASTODON PATTERN from freefrontend */
html {
    --s: 50px;
    --c: #191b22;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
    background: 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
        repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

label, h1, h2, h3, h4, h5, h6, p {
    color: #ffffff;
}

input[type=submit] {
    background-color: #7dd56f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    padding: 5px 15px;
}

.header {
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    background-color: #302e34;
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 4px;
}

input, select {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    margin-left: 10px;
}

.title {
    font-weight: bold;
    display: inline;
    max-width: max-content;
    color: #ffffff;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    padding-left: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #302e34;
    padding: 20px;
    flex-grow: 1;
    box-shadow: 1px 1px 4px;
    margin-bottom: 10px;
}
